
<div class="row" ng-repeat="product in products">
  <div class="col-sm-12">
    <h2>Product Listing (original product image comming soon!)</h2>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6 product-listing">
    <a href="#">
      <img src="/assets/6.jpg">
    </a>

    <div class="row">
      <div class="col-sm-12 title">
        {{ "Really long product title (check it)  " }}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 market-price">
        <span class="strike-center">Rs. 6999</span> 10% OFF
      </div>
    </div>
    <div class="row bordered-bottom">
      <div class="col-sm-12 star">
        <div class="star-ratings-css">
          <div class="star-ratings-css-top" style="width: {{54}}%">
            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
          </div>
          <div class="star-ratings-css-bottom">
            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 selling-price">
       <div class="btn-group">
         <button type="button" class="btn btn-default">Rs. 12000</button>
         <button type="button" class="btn btn-primary">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>