<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="side-user hidden-xs">
            <!-- <div class="profile-picture">
                <img class="img-thumbnail" alt="" src="/assets/img/profile-pic1.jpg">
            </div>
            <p class="welcome">
                <span class="glyphicon glyphicon-user"></span>
                Logged in as
            </p>
            <p class="name tooltip-sidebar-logout">
                b.
                <span class="last-name">Prz</span>
                <span class="glyphicon glyphicon-log-out"></span>
            </p>
            <div class="clearfix"></div> -->
        </li>

        <li>
            <a href="#">Dashboard</a>
        </li>
        <li>
            <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                Dropdown 
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
              </ul>
        </li>
        <!-- <li>
            <a href="#">Overview</a>
        </li>
        <li>
            <a href="#">Events</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li> -->
    </ul>
</div>